.faq {
  position: relative;
  background-color: var(--clr-neutral-200);
}

.faq > div {
  padding-bottom: 24rem;
}

.faq h2 {
  font-size: 5.6rem;
  text-wrap: balance;
  text-align: center;
  margin-bottom: 4.8rem;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.faqItem {
  font-size: 2rem;
}

.faqItem:not(:last-of-type) {
  border: 1px solid var(--clr-neutral-200);
}

.faqItem .title {
  position: relative;
  width: 100%;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  padding: 1.8rem 3.2rem;
  background-color: var(--clr-neutral-50);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  -webkit-tap-highlight-color: transparent;
}

.faqItem .title.activeToggle {
  color: var(--clr-primary);
}

.faqItem .title span:last-of-type {
  font-size: 3.2rem;
  position: absolute;
  right: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.faqItem .content {
  padding: 2rem 3.2rem 3.2rem;
}

@media screen and (max-width: 760px) {
  .faqItem .title,
  .faqItem .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .faqItem .title {
    text-wrap: balance;
  }
}
