body:has(.overlay) {
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  height: 100svh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  padding: 9.6rem 2.4rem 4.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: relative;
  padding: 4rem 4.8rem 4.8rem;
  background-color: var(--clr-neutral-50);
  border-radius: 1.6rem;
}

.btnClose {
  position: absolute;
  right: 4rem;
  top: 4rem;
  width: 3.2rem;
}
